<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>VotreNomDeProjet</string>
    <key>NSCameraUsageDescription</key>
    <string>Nous avons besoin d'accéder à votre caméra pour scanner du texte.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Nous avons besoin d'accéder à votre galerie pour sauvegarder des images.</string>
    <!-- Autres configurations -->
</dict>
</plist>